<div class="row no-gutters" id="productpage">
  <div class="col-md-6">
    <div class="card" align=center>
      <div class="card-header h3">
        Gwarancja
      </div><br>
      <img src="https://i.imgur.com/LSFOIHy.jpg" width=40% height=75%>
      <div class="card-body">
      </div>
    </div>
    <div class="card" id="bluetoo">
      <div class="card-header h3">
        Wyselekcjonowane samochody
      </div><br>
      <img src="https://i.imgur.com/Ylv13xG.jpg" width=40% height=75%>
      <div class="card-body">
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header h3">
        Dedykowane opcje finansowania
      </div><br>
      <img src="https://i.imgur.com/4vkAz4z.jpg" width=40% height=75%>
      <div class="card-body">
      </div>
    </div>
    <div class="card">
      <div class="card-header h3">
        Jazda próbna
      </div><br>
      <img src="https://i.imgur.com/XDojChF.jpg" width=40% height=75%>
      <div class="card-body">
      </div>

    </div>

  </div>
</div>
